layout: index
description: 可编程，跨平台，非侵入式的交易图表。
subtitle: SiaChart - 快速交易图表
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 高效快速
      p.intro-feature-desc 基于Skia 2D（用于Chrome/Android图形/Flutter），运行稳定快速。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 跨平台
      p.intro-feature-desc 桌面端：Win/Mac/Linux，移动端：Android/iOS
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 集成方便
      p.intro-feature-desc 可配置编译为静态/动态库，提供C/C++ API接口，方便对接各种开发语言。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 脚本支持
      p.intro-feature-desc 内置Lua虚拟机，可使用脚本扩展图表功能。支持自设计语法解析器。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 指标公式系统
      p.intro-feature-desc 集成Ta-lib，支持百种常用指标。统一开发接口，方便自定制开发公式指标。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 可定制化
      p.intro-feature-desc 外观/功能可定制，清晰的开发接口，定制开发为任意类型交易图表。